html {
    height: 100%;
    font-size: 100%;
}
body {
    min-height: 100%;
    background-color: #000000;
    font-family: 'Neue Haas Unica';
	font-size: 1rem;
    color: white; 
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Neue Haas Unica';
    src: local('Neue Haas Unica Regular'), local('Neue-Haas-Unica-Regular'),
        url('../assets/fonts/NeueHaasUnica-Regular.woff2') format('woff2'),
        url('../assets/fonts/NeueHaasUnica-Regular.woff') format('woff'),
        url('../assets/fonts/NeueHaasUnica-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }


@font-face {
    font-family: 'Neue Haas Unica';
    src: local('Neue Haas Unica Bold'), local('Neue-Haas-Unica-Bold'),
        url('../assets/fonts/NeueHaasUnica-Bold.woff2') format('woff2'),
        url('../assets/fonts/NeueHaasUnica-Bold.woff') format('woff'),
        url('../assets/fonts/NeueHaasUnica-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.container{
	overflow: hidden;
}

#sitetitle{
	font-family: 'Neue Haas Unica';
	font-size: 1.56rem;
	font-weight: 700;
	text-decoration: none;
	color: white;
	margin-right: 5%;
	position: relative;
	top:5px;
}

.sitecontent{
	font-family: 'Neue Haas Unica';

}

.main-content{
	height: 100%;
	padding-bottom: 20%;
	float: left;
	width: 100%;
}

.topnav{
	background-color: #000000;
	padding: 2% 0 1% 5%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 3;
}

.topnav a:not(:first-child){
	text-decoration: none;
	margin-right: 5.5%;
	font-size: 0.875rem;
	font-weight: 700;
}

.topnav a:not(:first-child):hover{
	/*text-decoration: underline;*/
	border-bottom: 1px solid #ffffff;
	padding-bottom: 3px;
}

.topnav a.active{
	/*text-decoration: underline;*/
	border-bottom: 1px solid #ffffff;
	padding-bottom: 3px;
}

p{
	line-height: 2.5rem;
	padding: 0;
	margin: 0;
}

a{
	color: #ffffff;
}


.big-p{
	font-size: 1.5rem;
	line-height: 3rem;
	margin: 1.5rem 0 1.5rem 0;
}

h1{
	font-size: 6.25rem;
	letter-spacing: 1.22rem;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

h2{
	font-size: 3.125rem;
	letter-spacing: 0.85rem;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

h3{
	font-weight: 700;
	padding: 0;
	margin: 0;
}

.exhibit-elements{
	margin-top: 15%;
	margin-left: 20%;
	padding-right: 26%;
}


/*Entry page*/
.customButton{
	border: 0;
}

#shortdescription{
	margin-bottom: 5%;
}

#exploreSpeciesButton{
	background-image: url( '../assets/images/explore-species@2x.png' ),
					  url( '../assets/images/explore-species-hover@2x.png' );
    background-size: 200px 42px;
    width: 200px;	
	height: 42px;
	margin-right: 8%;
}

.separator{
	height: 10%;
	width: 100%;
	border-top: 2px solid white;
	display: block;

}

#exploreSpeciesButton:hover{
	background-image: url( '../assets/images/explore-species-hover@2x.png' ),
					  url( '../assets/images/explore-species@2x.png' );					  
	cursor:pointer;
}

#liveRecordingButton{
	background-image: url( '../assets/images/live-recording@2x.png' ),
					  url( '../assets/images/liver-recording-hover@2x.png' );
    background-size: 200px 42px;
	width: 200px;	
	height: 42px;
}

#liveRecordingButton:hover{
	background-image: url( '../assets/images/liver-recording-hover@2x.png' ),
					  url( '../assets/images/live-recording@2x.png' );
	cursor:pointer;
}

.algaeVideoContainer{
	height: 500px;
	width: 100%;
	display: block;
	position: relative;
	margin-top: 20%;
	margin-bottom: 20%;
}

.algaeVideoContainer-teaser{
	height: 500px;
	width: 100%;
	display: block;
	position: relative;
	margin-top: 20%;
}

.algaeVideos{
	width: 100%;
}

.pulltobottom{
	bottom: 0;
	left:0;
	position: absolute;
}

.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	margin-bottom: 1%;
}

.scrollIndicator{
	display: block;
	width: 20px;
	height: 38px;
	background-image: url('../assets/images/scroll@2x.png');
	background-size: 20px 38px;
	margin-left: auto;
	margin-right: auto;
}

/* Live video page - stream.html */
.main-content{
	padding-bottom: 0;
}

.stream-elements{
	width: 100%;
	margin-top: 15%;
	/*margin-left: 20%;*/
	/*padding-right: 26%;*/
}

.audio-stream{
	height: 300px;
	display: block;
	width: 100%;
}

.video-stream{
	position: relative; 
	padding-bottom: 56.25%; 
	padding-top: 30px; 
	height: 0; 
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden; 
	height: 10rem;
}

.video-stream iframe, .video-stream object, .video-stream embed{
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 60%; 
}


.poem p{
	font-size: 1.5rem;
	font-weight: 400;
	width: 40%;
	line-height: 3.5rem;   
	margin: auto;
	padding-left:5%;
}

.experience-note{
	margin: -25% auto 10% auto;
	padding-top: -10%;
	width: 60%;
	display: block;
}

.how-it-works{
	margin: auto auto auto auto;
	padding-top: 0%;
	width: 60%;
}

.how-it-works-player{
	left: 0.2rem;
}

.talk-to-me{
	width: 100%;
	margin-top:20%;
	background-color: #ffffff;
}

.talk-to-me p{
	color:#000000;
}

.talk-to-me h2, .talk-to-me h3{
	color:#000000;
	margin-bottom: 3%;
}

.talker-section{
	width: 60%;
	margin: auto;
	padding-top: 10%;
}

#recording-section{
	margin-top: 5%;
}

.recorder{
	margin-top:5%;
	position: relative;
}

.recordingscrub-container{
	height:3.5rem;
	width:41rem;
	border: 2px solid #000000;
	position: absolute;
	top: 2px;
	border-radius: 2rem;
	z-index: 1;
}

.recordingscrub{
	position: relative;
	width: 0rem;
	height: 3.125rem;
	left: 64px;
	top: 4px;
	display: inline-block;
	background-image: url( '../assets/images/scrubber.png' );
	background-size: 32rem 3.125rem;
	background-color: transparent;
	z-index: 3;
}

.archive-elements{
	margin-top: 15%;
	margin-left: 15%;
	padding-right: 10%;
}

.single-visitor-container{
	/*width: 100%;*/
	margin: 10% 0 10% 0;
}

.playercontrols{
	position: relative;
}

.uncompressed-container{
	display: inline-block;
	width: 40%;
	float: left;
	margin-right:10%;
}

.compressed-container{
	display: inline-block;
	width: 50%;
	float: left;
}

.inacArchivePlayer{
	/*position: relative;*/
	width: 26.37rem;
	height: 4.37rem;
	left: 64px;
	top: 4px;
	display: inline-block;
	background-image: url( '../assets/images/archiveinacplayer.png' );
	background-size: 26.37rem 4.37rem;
	background-color: transparent;
	z-index: 3;
}

.acArchivePlayer{
	/*position: relative;*/
	width: 26.37rem;
	height: 4.37rem;
	left: 64px;
	top: 4px;
	display: inline-block;
	background-image: url( '../assets/images/archiveracplayer.png' );
	background-size: 26.37rem 4.37rem;
	background-color: transparent;
	z-index: 3;
	/*display: none;*/
}

.archivePlayBtn{
	background-image: url( '../assets/images/archiveplay.png' );
	background-size: 38px 38px;
	width: 38px;	
	height: 38px;
	display: block;
	background-color: transparent;
	/*position: absolute;*/
	z-index: 2;
	left: 64px;
}

.archivePauseBtn{
	background-image: url( '../assets/images/archivepause.png' );
	background-size: 38px 38px;
	width: 38px;	
	height: 38px;
	background-color: transparent;
	display: block;
	z-index: 2;
	/*display: none;*/
	left:64px;
}

.replayingscrub{
	position: absolute;
	width: 32rem;
	height: 3.125rem;
	left: 63px;
	top: 4px;
	display: none;
	background-image: url( '../assets/images/bluescrubber.png' );
	background-size: 32rem 3.125rem;
	background-color: transparent;
	z-index: 4;
}

.visitorID p{
	margin-top: 1rem;
}

.visitorID p{
	line-height: 1.5rem;
}

#scrubbing-indicator{
	background-image:  url('../assets/images/scrubber-sideborder@2x.png');
	background-size: 14.5px 59.5px;
	position: relative;
	top:3px;
	left: 55px;
	display: none;
	background-color: transparent;
	width:0.906rem;
	height: 3.125rem;
}



.visitor-details{
	margin-top: 5%;
	padding-bottom: 20%;

}

#recordButton{
	background-image: url( '../assets/images/record@2x.png' );
				  	  /*url( '../assets/images/record-hover@2x.png' );*/
	background-size: 64px 64px;
	width: 64px;	
	height: 64px;
	background-color: transparent;
	position: relative;
	z-index: 2;
}

#recordButton:hover{
	background-image: url( '../assets/images/record-hover@2x.png' ),
				  	  url( '../assets/images/record@2x.png' );
	background-size: 64px 64px;
	width: 64px;	
	height: 64px;
	position: relative;
	z-index: 2;
	background-color: transparent;
}

#stopRecordingButton{
	background-image: url( '../assets/images/stop@2x.png' ),
				  	  url( '../assets/images/stop-hover@2x.png' );
	background-size: 64px 64px;
	width: 64px;	
	height: 64px;
	position: relative;
	display: none;
	z-index: 2;
	background-color: transparent;
}

#stopRecordingButton:hover{
	background-image: url( '../assets/images/stop-hover@2x.png' ),
				  	  url( '../assets/images/stop@2x.png' );
	background-size: 64px 64px;
	width: 64px;	
	height: 64px;
	position: relative;
	z-index: 2;
	background-color: transparent;
}

#playRecordingButton{
	background-image: url( '../assets/images/play@2x.png' ),
				  	  url( '../assets/images/play-hover@2x.png' );
	background-size: 64px 64px;
	width: 64px;	
	height: 64px;
	display: none;
	position: relative;
	z-index: 2;
	background-color: transparent;
}

#playRecordingButton:hover{
	background-image: url( '../assets/images/play-hover@2x.png' ),
				  	  url( '../assets/images/play@2x.png' );
	background-size: 64px 64px;
	width: 64px;	
	height: 64px;
	position: relative;
	z-index: 2;
	background-color: transparent;
}

#pausePlaybackButton{
	background-image: url( '../assets/images/pause@2x.png' ),
				  	  url( '../assets/images/pause-hover@2x.png' );
	background-size: 64px 64px;
	width: 64px;	
	height: 64px;
	display: none;
	position: relative;
	z-index: 2;
	background-color: transparent;
}

#pausePlaybackButton:hover{
	background-image: url( '../assets/images/pause-hover@2x.png' ),
				  	  url( '../assets/images/pause@2x.png' );
	background-size: 64px 64px;
	width: 64px;	
	height: 64px;
	position: relative;
	z-index: 2;
	background-color: transparent;
}

.sendRecordingDisabledButtonStl{
	background-image: url( '../assets/images/send-recording-disabled@2x.png' );
					  /*url( '../assets/images/send-recording@2x.png' ),
					  url( '../assets/images/send-recording-hover@2x.png' );*/
    background-size: 200px 45px;
	width: 200px;	
	height: 45px;
	
	display: block;
	position: relative;
	z-index: 2;
}

.sendRecordingDisabledButtonStl:hover{
	/*background-image: url( '../assets/images/send-recording-hover@2x.png' ),
					  url('../assets/images/send-recording-disabled@2x.png');*/
	cursor:pointer;
	z-index: 2;
}

.sendRecordingEnabledButtonStl{
	background-image: url( '../assets/images/send-recording@2x.png' ),
				  url( '../assets/images/send-recording-hover@2x.png' ),
				  url( '../assets/images/send-recording-disabled@2x.png' );
    background-size: 200px 45px;
	width: 200px;	
	height: 45px;
	
	display: block;
	position: relative;
	z-index: 2;
}

.sendRecordingEnabledButtonStl:hover{
background-image: url( '../assets/images/send-recording-hover@2x.png' ),
				  url( '../assets/images/send-recording@2x.png' ),
				  url( '../assets/images/send-recording-disabled@2x.png' );
	cursor:pointer;
	z-index: 2;
}


#recordingTimeLabelContainer{
	left:32.5rem;
	width: 64px;
	height: 64px;
	top:-1.5rem;
	display: inline-block;
	position: relative;
}

.recordingLabel{
	font-size: 1rem;
	font-weight: 700;
	color:#000000;
	position: relative;
	/*top:0.5rem;*/
	/*left:32.5rem;*/
}

/*This will work for firefox*/
@-moz-document url-prefix() {
    #recordingTimeLabelContainer{
    	top:0.5rem; 
    }
}



.recording-do-over-container{
	height: 0.8rem;
	margin-top:1rem;
}

#recordingDoOverLabel{
	font-weight: 400;
	color: #0A0A0A;
	position: relative;
	font-size: 0.8rem;
	display: none;
}

.error-label-container{
	margin-top:2rem;
	margin-bottom: 0.1rem;
	height: 1.5rem;

}

#errorGuideLabel{
	font-weight: 400;
	color: #ff0000;
	position: relative;
	font-size: 0.8rem;
	margin-top:3%;
}

#rerecord-a{
	text-decoration: underline;
	color: #000000;
}

form, form a{
	color: #000000;
}

input[type=text] {
    border-width:0px;
	border:none;
	font-size: 1rem;
	border-bottom: 1px solid #ccc; 
	display: inline-block;
	margin: 0 1% 0 1%;
	text-align: center;
	/*color:#ccc;*/
}

input[type=text]:focus {
	outline: none;
	color: #000000;
}

.privacy-policy{
	margin-top:3%;
}

#thank-you-container{
	display: none;
	margin-top:5rem;
	height: 39rem;
}

#thank-you-container h3{
	margin-top:0px;
	margin-bottom: 0px;
}

#thank-you-container p{
	margin-top: 0px;
	padding-bottom: 2rem;
}

#continueExploringButton{
	background-image: url('../assets/images/keep-exploring@2x.png');
				  	  /*url('../assets/images/keep-exploring-hover.png');*/
	background-size: 200px 45px;
    width: 200px;	
	height: 45px;
}

#continueExploringButton:hover{
	background-image: url('../assets/images/keep-exploring-hover@2x.png'),
				  	  url('../assets/images/keep-exploring@2x.png');
	cursor:pointer;
	background-size: 200px 45px;
    width: 200px;
	height: 45px;
}


/* Archive Page */


	





/* About page - about.html */
.team-member{
	margin: 5rem 4rem 0 0;
	display: inline-block;
}


/*Page Clip*/
.pageclip-form {
 position:relative
}
.pageclip-form__success {
 position:absolute;
 top:-1px;
 left:-1px;
 right:-1px;
 bottom:-1px;
 text-align:center;
 background:hsla(0,0%,100%,.8);
 z-index:1;
 display:flex;
 flex-direction:column;
 justify-content:center
}
.pageclip-form__success__message {
 font-size:2rem;
 text-align:center;
 transform-origin:center;
 animation:.3s linear none a
}
.pageclip-form__submit {
 position:relative
}
.pageclip-form__submit:after {
 display:inline-block;
 position:relative;
 text-indent:-9999em;
 border:3px solid hsla(0,0%,100%,.3);
 border-left:3px solid #fff;
 transform:scale(.01) translateZ(0);
 border-radius:50%;
 width:20px;
 height:20px;
 content:"";
 position:absolute;
 left:50%;
 top:50%;
 margin-left:-10px;
 margin-top:-10px;
 z-index:2
}
.pageclip-form__submit.pageclip-form__submit--dark-loader:after {
 border-color:rgba(0,0,0,.3);
 border-left-color:#000
}
.pageclip-form__submit.pageclip-form__submit--start-loading:after {
 animation:.1s linear none a
}
.pageclip-form__submit.pageclip-form__submit--start-loading>span {
 animation:.1s linear none c
}
.pageclip-form__submit.pageclip-form__submit--loading:after {
 transform:translateZ(0);
 animation:1.2s linear infinite d
}
.pageclip-form__submit.pageclip-form__submit--loading>span {
 opacity:0
}
.pageclip-form__submit.pageclip-form__submit--end-loading:after {
 animation:.1s linear none b
}
.pageclip-form__submit.pageclip-form__submit--end-loading>span {
 animation:.1s linear reverse c
}
@keyframes a {
 0% {
  transform:scale(.01) translateZ(0)
 }
 50% {
  transform:scale(1.2) translateZ(0)
 }
 to {
  transform:scale(1) translateZ(0)
 }
}
@keyframes b {
 0% {
  transform:scale(1) translateZ(0)
 }
 to {
  transform:scale(.01) translateZ(0)
 }
}
@keyframes c {
 0% {
  opacity:1
 }
 to {
  opacity:0
 }
}
@keyframes d {
 0% {
  transform:rotate(0deg)
 }
 to {
  transform:rotate(1turn)
 }
}


/* Archive page - archive.html */


/* Policy*/
.policy h3{
	margin: 5% 0 10% 0;
}

.policy p{
	line-height: 1.2rem;
	margin-bottom: 5%;
}